@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
  margin: 0;
  background-color: #16132E;
  height: 100%;
}

.propulsion {
  color: white
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
}

.reward {
  color: white;
}

.blocks {
  color: #10B7E0;
}

@media screen and (max-width: 600px) {
.footer {
  display: none;
}
 
  }